<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Todo List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6 d-flex justify-content-center mx-auto">
      <div class="input-group w-75 w-lg-50">
        <input type="text" class="form-control w-25" [(ngModel)]="todoData">
        <button class="btn btn-primary" (click)="addTodo()">Add</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-10 col-md-4">
      <div
        *ngFor="let item of todoList; let i = index"
        class="row d-flex flex-row mb-2 mx-0 ">
        <div class="btn btn-light d-flex justify-content-between">
          <div
            class="{{(item.isDone)? 'd-flex justify-content-start align-self-center text-decoration-line-through w-100' : 'd-flex justify-content-start align-self-center w-100'}}"
            (click)="onlistDone(i)">
            {{ item.title }}
          </div>
          <div class="btn btn-close btn-danger" (click)="removeItem(i)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>